setuptools>=69.0
wheel>=0.42
Flask==3.0.3
Flask_Cors==5.0.0
gunicorn==21.2.0
joblib==1.4.2
lightgbm==4.5.0
matplotlib==3.10.3
mlflow==2.23.2
mlflow-skinny==2.23.2
nltk==3.9.1
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.1
requests==2.32.3
wordcloud==1.9.6
cloudpickle==3.1.1
pydantic==2.9.2
pyarrow==18.0.0
sqlparse==0.6.1
Werkzeug==3.1.8
alembic==1.13.3
Jinja2==3.1.6
MarkupSafe==3.0.2
itsdangerous==2.2.0
click==8.9.0
blinker==1.9.0
python-dateutil==2.9.0.post0
tzdata==2025.1
greenlet==3.5.4
annotated-types==0.7.0
typing-extensions==4.15.0
packaging==24.2
charset-normalizer==3.4.1
idna==3.10
urllib3==2.3.1
certifi==2025.3.1
tqdm==4.67.1
regex==2026.5.9
zipp==3.21.0
importlib-metadata==8.5.0
six==1.17.0
